html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;

  background-image: linear-gradient(#ff9500, #ff5e3a);

  font-family: Overpass, sans-serif;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  margin: 1.5rem;
  margin-bottom: 0;
}

h2 {
  padding-top: 0;
  text-align: center;
  font-weight: lighter;
}

ul {
  padding-left: 0;
}

ul li {
  list-style-type: none;
  align-items: center;
}

.icon {
  padding-bottom: 0;
  width: 8rem;
  height: 8rem;
  align-items: center;
}

p {
  font-weight: lighter;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
}

h3 {
  border: .2rem solid rgba(255, 255, 255, .7);
  font-weight: lighter;
  text-align: center;
  padding: .75em;
  margin: 1rem;
}

h3:hover {
  color: #000;
}

@media only screen and (min-width: 38em) {

  body {
    margin: 1.4rem;
  }

  h1 {
    padding-bottom: 1rem;
    padding-top: .75rem;
    text-align: center;
  }

  h2 {
    display: inline-block;
    padding-top: .75rem;
    padding-bottom: 0;
    text-align: left;
  }

  p {
    font-weight: lighter;
    padding-top: 0;
  }

  h3 {
    align-items: baseline;
    font-weight: lighter;
    text-align: left;
  }

  ul {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
  }

  li {
    flex-direction: column;
    display: flex;
  }

}

@media only screen and (min-width: 60em) {

  body {
    margin: 1.5rem;
  }

  h1 {
    padding-bottom: 4rem;
    padding-top: 4rem;
    text-align: center;
  }

  h2 {
    padding-top: 1rem;
  }

  .icon {
    padding-bottom: 1rem;
  }

}
